img 
{
    width: auto;
    height: 100;
}
html
{
    scroll-behavior: smooth;  
}

body {
   background: linear-gradient(135deg, #ff6b6b, #cc2936);
    font-family: 'DM Mono', monospace;
    font-size: 15px;
    line-height: 1.7;
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
   display: flex; 
   align-items: center;
   height: 56px;
   padding: 0 2rem;
   background: rgba(10, 12, 16, 10);
   border-bottom: 1px solid #1e2530;
}
.nav-logo 
{
    font-size: 1.1rem;
    font-weight: 800;
    color: #00e5ff;
    text-decoration: none;
    margin-right: auto;
}

nav a 
{
    color: #6b7585;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0 1.2rem;
    height: 56px;
    display: flex; 
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;
}

nav a:hover 
{
    color: #00e5ff;
    border-bottom-color: #00e5ff;
}

#about
{
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 6rem 2rem;
    min-height: 100vh;
}

.tag 
{
    display: inline-block;
    font-size: 0.72;
    text-transform: uppercase;
    color: #00e5ff;
    border: 1px solid #00e5ff;
    padding: 0.2rem 0.7rem;
    margin-bottom: 1.2rem;
}
h1
{
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

h1 span
{
    color:#00e5ff
}

.about-text p 
{
    color: #6b7585;
    max-width: 520px;
}
.avatar-wrap 
{
    width: 200px;
    height: 200px;
    border: 1px solid #1e2530;
    background: #111418;
    overflow: hidden;
}
.avatar-wrap img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section 
{
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem 2rem;
    border-top: 1px solid #1e2530;
}
.section-label
{
    font-size: 0.72rem;
    text-transform: uppercase;
    color: #ff3d6b;
    margin-bottom: 0.6rem;
}
.section h2
{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.section p
{
    color: #6b7585;
    max-width: 620px;
}
.lang-grid
{
    display:grid;
    grid-template-columns: repeat(auto-fill), minmax(130px, 150px); /* how wide do i want the columns/how wide each is */
    gap: 0.75rem;
    margin-top: 1.5rem;
}
.lang-card
{
    background: #111418;
    border: 1px solid #1e2530;
    padding: 1rem 1.2rem;
    font-size: 0.85rem;
    display: flex; 
    align-items: center;
    gap: 0.5rem;
    transition: border-color 0.2s;
}
.lang-card:hover 
{
    border-color: #00e5ff;
}
.lang-dot
{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00e5ff
}
footer{
   border-top: 1px solid #1e2530;
   text-align: center; 
   padding: 2rem;
   font-size: 0.75rem;
   color: #6b7585;
}
